*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Helvetica Neue',Segoe UI,Roboto,Ubuntu,sans-serif;
    background-color: #000;
    color: #fff;
}
header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;
    position: absolute;
    width: 100%;
    z-index: 5;
}
header a.logo{
    display: block;
}
header .logo svg{
    fill:#e50914;
    height: 37px;
}
header div+div{
    text-align: right;
}
header a.button{
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    border-radius:3px ;
}
header select{
    background-color: transparent;
    color: #fff;
    padding: 6px 0 6px 20px;
    border-radius: 3px;
}
header div.select{
    display: inline-block;
    margin-right: 30px;
}
header div.select svg{
    height: 20px;
    fill:#fff;
    position: absolute;
    margin-top:5px;
    margin-left: 2px;
}
div.splash {
    position: relative;
}
div.splash div.gradient{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    inset: 0;
}
div.splash div.background img{
    max-width:100%;
    opacity: 0.6;

}
div.splash div.content{
    max-width: 655px;
    position: absolute;
    inset: 0;
    left: 50%;
    margin-left: -327.5px;
    display: grid;
    align-items: center;
    text-align: center;
}
div.splash h1,div.splash h2,div.splash h3{
    font-weight: normal;
}
div.splash h1{
    font-size: 3.125rem;
    font-weight: bold;
}
div.splash h2{
    font-size: 1.625rem;
    margin-top: 13px;
    margin-bottom: 29px;
}
div.splash h3{
    font-size: 1.2rem;
}
div.cta form{
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr max-content;
}
div.cta input{
    padding: 15px 10px;
    font-size: 1.2rem;
    width: 100%;
}
div.cta input~span{
    position: absolute;
    left: 12px;
    top: 19px;
    z-index: 3;
    color: #aaa;
    transform: all 0.3s ease;
    pointer-events: none;
}
div.cta input:focus{
    padding-top: 19px;
    padding-left: 11px;
   
}
div.cta input:focus~span{
    top: 2px;
    font-size: 0.8rem;
}
div.cta button{
    font-size: 1.625rem;
    padding: 12px 26px;
    background-color: #e50914;
    color: #fff;
    border:0;
}

section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:46px;
    padding: 70px 35px;
    align-items: center;
    border-top:8px solid #222;
}
section.last{
    border-bottom: 8px solid #222;
}
section div.texts h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 8px;
}
section div.texts p{
    font-size: 1.5rem;
    font-weight:400;
}
.media{
    position: relative;
}
.media.s1 img{
    width: 400px;
}
.media.s1 video{
    width: 293px;
    position: absolute;
    top:62px;
    left:53px;
}
section:nth-child(even) div.texts{
    order:2;
}
section div.download{
    border: 2px solid #666;
    border-radius: 15px;
    padding: 10px;
    height: 95px;
    display: grid;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width:320px;
    left: 50%;
    margin-left: -160px;
    background-color: #000;
    gap: 15px;
    grid-template-columns: max-content 1fr max-content;
}
section div.download img{
        height: 75px;
        width: auto;
}
.media.s3 img{
    width: 400px;
    position: relative;
    z-index: 5 ;
}
.media.s3 video{
    width: 250px;
    position: absolute;
    top:36px;
    left:74px;
}
.faq{
    padding: 1px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h1{
    font-weight: 500;
    font-size: 40px;
}
.accordion{
   margin: 60px auto;
   width: 100%;
   max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display:flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;

}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq form{
    max-width: 635px;
    margin: 0 auto;
}
.faq h3{
    font-weight: normal;
    text-align: center;
    margin: 40px 0 20px;
}
.footer{
    padding : 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer.col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding:10px 0;
}

